DB_URL='postgresql+asyncpg://username:password@localhost/database'
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://guest:guest@localhost/"

TEST=''

TEST_LOGIN_MAX_ATTEMPTS=100
TEST_REGISTER_MAX_ATTEMPTS=100
TEST_OTHERS_MAX_ATTEMPTS=1000

LOGIN_MAX_ATTEMPTS=5
REGISTER_MAX_ATTEMPTS=10
OTHERS_MAX_ATTEMPTS=50
